<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<dict>
	<key>videos</key>
	<array>
		<dict>
			<key>landscapeVideoURL</key>
			<string></string>
			<key>portraitVideoURL</key>
			<string>iPhone_Portrait.m4v</string>
			<key>UIUserInterfaceIdiom</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>VideoSynchronized</key>
		<false/>
	</dict>
</dict>
</plist>
